{% extends 'base.html' %}
{% load static %}
{% block title %}Users - Simple List{% endblock %}

{% block content %}

<div class="container">

    <div>
        <h1 class="mt-3">Users</h1>
    </div>

<table class="table mt-3">
    <thead>
        <th>User</th>
        <th>Address</th>
        <th>Options</th>
    </thead>

    {% if object_list %}
{% for user in object_list %}

    <tbody>
        <tr>
            <td>{{ user }}</td>
            <td>{{ user.address }}</td>
            <td><a href="{% url 'profiles:user_detail' user.id%}">See Details</a></td>
        </tr>
    </tbody>

{% endfor %}
    {% endif %}
</table>

</div>

<link rel="stylesheet" href="{% static 'profiles/css/users_lst.css' %}">

{% endblock %}
