{% extends 'base.html' %}

{% block title %}Users - Simple List{% endblock %}

{% block content %}

<div class="container">

    <div>
        <h1>Users</h1>
    </div>

<table class="table">
    <thead>
        <th>User</th>
        <th>Address</th>
    </thead>

    {% if object_list %}
{% for user in object_list %}

    <tbody>
        <tr>
            <td>{{ user }}</td>
            <td>{{ user.address }}</td>
            <td><a href="{% url 'profiles:user_detail' user.id%}">See Details</a></td>
        </tr>
    </tbody>

{% endfor %}
    {% endif %}
</table>

</div>
<style>
    h1 {
    text-align: center;
    color: darkblue;
    }
    a:hover {
    text-decoration: none;}
</style>
{% endblock %}
