{% extends 'base.html' %}

{% block title %}Home - Users{% endblock %}

{% block content %}

<div class="container">
    <h1>User Registration Home Page</h1>
    <ul>
        <li><a href="{% url 'profiles:simple_lst' %}">Simple List</a></li>
        <li><a href="{% url 'profiles:full_list' %}">Detailed List</a></li>
        <li><a href="{% url 'profiles:new' %}">Add New User</a></li>
    </ul>
</div>

<style>
    .container {
    width: 60%;
    }
    h1 {
    color: darkblue;
    text-align: center;
    }
    a:hover {
    text-decoration: none;
    }
    li {
    margin-top: 20px;
    }
    ul {
    margin-top: 50px;
    list-style: none;
    }
</style>

{% endblock %}