
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <p>your logged in as {{ user.username }}</p>
    {% else %}
        <h1>Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            <!--<label for="username">User</label>-->
            <!--<input type="text" name="username">-->

            <!--<label for="password">User</label>-->
            <!--<input type="password" name="password">-->

            {{ form }}

            <input type="submit" value="Login">
        </form>
    {% endif %}
    <a href="/register/">Register</a>
</div>

{% endblock %}
