{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container">
    <h1>Register</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <!--<label for="username">User</label>-->
        <!--<input type="text" name="username">-->

        <!--<label for="password">User</label>-->
        <!--<input type="password" name="password">-->

        {{ form.as_p }}

        <input type="submit" value="Register">
    </form>
</div>
<style>
    .container {
    width: 30%;
    }
    input {
    width: 100%;
    }
</style>

{% endblock %}